<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<table class="table">
  <tbody>
    <% @products.each do |p| %>
    <tr>
      <td>
        <%= p.name %>
      </td>
      <td>
       <%= render 'payola/transactions/checkout', sellable: p %>
      </td>
      <td>
        <%= image_tag(p.image) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>