<h3>Welcome to the CongO</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<div class="pull-left text-info">
<%= paginate @products %>
</div>

<table class="table">
  <tbody>
    <% @products.each do |p| %>
    <tr>
      <td>
        <%= p.name %>
      </td>
      <td>
       <%= render 'payola/transactions/checkout', sellable: p %>
      </td>
      <td>
        <%= image_tag(p.image.thumb) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-left text-info">
<%= paginate @products %>
</div>